<ion-content>
    <ion-row class="ion-align-items-center sign-in-image">
      <ion-col size="12">
        <h1>Change Password
          <hr>
        </h1>
      </ion-col>
  
      <ion-col size="12">
        <ion-img src="assets/images/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-item-divider>
            <ion-icon name="key"></ion-icon>
            <ion-input clearInput value="" placeholder="Enter New Password"></ion-input>
          </ion-item-divider>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-item-divider>
              <ion-icon name="key"></ion-icon>
              <ion-input clearInput value="" placeholder="Confirm Password"></ion-input>
            </ion-item-divider>
          </ion-col>
        </ion-row>
  <ion-row style="text-align: center;">
      <ion-col>
        <ion-button color="danger">
          <ion-ripple-effect></ion-ripple-effect>Submit
        </ion-button>
      </ion-col>
    </ion-row>  
  
  
  </ion-content>